//Variables 
@color-green-agriconecta: #7CBA37;
@borde: #DEE2E6;

//Paginacion del widget de webkul de busqueda de las tiendas(inicio)
.pager_item_actual {
    //Este nombre de clase es nuevo, y es para sustituir la clase current para que dejara dar el color al item actual de la paginacion
      background: @color-green-agriconecta;
      width: 30px;
  }
  
  .wk-mp-sellerlist-container .wk-mp-sellerlist-wrap{
    //Para que las tiendas no se desconpongan cuando son mas de 4
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toolbar-amount{
    //Ocultar la parte del pager donde dice 'Artículos 1 al 8 de 37 totales'
    display: none;
  }
  
  .pages strong.page{
    color: white;
  }
  
  .pages .action.next{
    margin-left: 0;
  
    &::before{
      color: @borde;
      font-size: 31px;
      margin: 0;
      font-weight: normal;
    }
  }
  
  .pages .action.previous{
    &::before{
      color: @borde;
      font-size: 31px;
      font-weight: normal;
    }
  }
  
  .pages a.page{
    border: 0.5px solid @borde;
    height: 31px;
    width: 20px;
  }
  
  .button, a.action.primary, .cart.table-wrapper .actions-toolbar>.action, .action-gift{
    background: @color-green-agriconecta;
    color: white;
    border: 0;
  
    &:hover{
      background: @color-green-agriconecta;
      color: white;  
    }
  }
  
  .block.widget .pager .items{
    // Para centrar lo de la paginacion
    text-align: center;
  }
  
  @media only screen and (max-width: 767px) {
  
    .limiter-options{
      //Para que no salga muy pegado el limiter de la paginacion
     margin: 15px 5px 0 7px;
    }
  
    .pages{
      //Para que no salga muy pegado arriba la paginacion
     margin-top: 15px;
    }

    //Para que el alto del borde sea automatico
    .wk-mp-sellerlist-container .wk-mp-sellerlist-wrap{
      height: auto;
    }
  
  }
  
  input#sellersearch{
    border-radius: 21px;
  }